# Puerto de ejecución de servidor
PORT=4000
# Datos de la base de datos
DATABASE_USER=""
DATABASE_HOST="mongodb://127.0.0.1:27017/" # <-- aquí ya viene el puerto de la base de datos
# DATABASE_HOST=mongodb+srv://<username>:<password>@<clusterName>.nu0ejze.mongodb.net/<databaseName>?retryWrites=true&w=majority
DATABASE_DATABASE="airontools" #<--Nombre de la base de datos
DATABASE_PASSWORD=""
DATABASE_PORT="27017"

HOST_API=http://localhost:4000

# puerto de comicación entre backend y frontend para cors
# port cors
CLIENT_PORT=http://localhost:4321

JWT_SECRET=some_secret_key123

# Obtener API KEY de OpenAI
# https://platform.openai.com/api-keys
OPENAI_API_KEY=sk-1234567890


# Variables de conexión para aws
AWS_ACCESS_KEY_ID=AKIAX123456
AWS_SECRET_ACCESS_KEY=6jks1234l456
AWS_REGION=us-east-1
AWS_BUCKET_NAME=nombre-de-bucket

# Credenciales email .env file:
# CPANEL Email environment variables
EMAIL_USER='user@dominio.com'
EMAIL_PASSWORD='password123'
EMAIL_PORT=465 # <-- este puerto al final no importa
EMAIL_HOST="mail.dominio.com"
EMAIL='user@dominio.com'